/*-- Navigation  --*/

nav {
  padding-top: -22px;
  z-index: 99;
}

.iconMage {
  width: 70px;
  height: 70px;
}

#bookBtn {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  border-radius: 0;
  padding: 15px 35px;
  font-size: 12px;
  color: #000000;
}

#bookBtn:focus {
  outline: none;
  box-shadow: none;
}

#bookBtn:visited {
  outline: none;
  box-shadow: none;
}

#bookBtn:active {
  background: #000000;
  color: #ffffff;
  border-color: #000000;
}

/*-- Carousel  --*/

#weddingCarousel {
  margin-top: -130px;
}

/*-- Carousel Controls  --*/

.carousel-control-next span {
  position: absolute;
  bottom: 2%;
  right: 38%;
}

.carousel-control-prev span {
  position: absolute;
  bottom: 2%;
  left: 38%;
}

/*-- Carousel Caption --*/

.carousel-caption {
  position: absolute;
  top: 45%;
}

.carousel-caption h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 50px;
  color: #ffffff;
}

.carousel-caption p {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #ffffff;
}

div#customIndicators1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 48%;
}

/*-- Featured Company Section --*/

#trustCompany {
  margin: 100px 0;
}

#trustCompany h2 {
  font-size: 40px;
  color: #000000;
  font-family: "Playfair Display", sans-serif;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px; /* change width */
  height: 10px; /* change height */

  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000000;
  color: #000000;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.6;
  transition: opacity 0.6s ease;
  border-radius: 100%;
}

.carousel-indicators [data-bs-target].active {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px; /* change width */
  height: 10px; /*change height */

  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000000;
  color: #000000;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 1;
  transition: opacity 0.6s ease;
  border-radius: 100%;
}

.carousel-indicators {
  bottom: -80px;
}

/* -- HERE FROM US SECTION -- */

#hereFromUs h2 {
  font-size: 40px;
  font-weight: 500;
  color: #000000;
  font-family: "Playfair Display", sans-serif;
  text-align: center;
  padding: 30px 0 60px 0;
}

#hereFromUsImgCon {
  width: 50%;
  height: auto;
}

#hereFromUsTxtCon {
  background-color: #ffffff;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
}

#hereFromUsTxtCon h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  text-align: left;
}

#hereFromUsTxtCon div {
  font-family: "Playfair Display", sans-serif;
  background-color: #ffffff;
  font-size: 60px;
  font-weight: 600;
  color: #f6e8dc;
  text-align: right;
  padding: 0 20px 80px 0;
}

#hereFromUsTxtCon p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  text-align: left;
  white-space: normal;
}

.card {
  background-color: #ffffff;
  display: inline-block;
  width: 49%;
  height: auto;
  margin-bottom: 50px;
  border-radius: 0;
  border: none;
  margin: 0 15px 50px 0;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}

.scrolling-wrapper::-webkit-scrollbar-button {
  width: 250px;
  height: 250px;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
  background: black;
  color: gray;
  width: 5px;
  border: none;
  height: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.scrolling-wrapper::-webkit-scrollbar {
  max-width: 50px;
  height: 8px;
  background-color: #f9f9f9;
  cursor: pointer;
  border-radius: 20px;
}

.scrolling-wrapper::-webkit-scrollbar-track {
  background: gray;
  border-radius: 20px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  padding: 150px 0px !important;
}

/* -- WHY SECTION -- */

#whySec {
  background: url("img/why-bg.png") no-repeat center rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-blend-mode: multiply;
}

#whySec h2 {
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
}

#circleTxtCon {
  text-align: center;
  margin: 0 auto;
}

#circleTxtCon h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 500;
  padding: 25px 0 0 0;
  text-align: center;
  color: #ffffff;
}

#circleTxtCon p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 2em;
  color: #ffffff;
}

#circle {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  margin: 0 auto;
  background-color: #f0e7df;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle img {
  width: 90px;
  height: 90px;
}

/* -- OUR PACKAGES SECTION -- */

#packages h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  padding: 15px 0 25px 0;
}

.darken:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: ;
  z-index: -1;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link {
  color: #000000;
  background-color: transparent;
  margin-bottom: none;
  border-radius: 0;
  border: none;
  font-family: "Playfair Display", sans-serif;
  font-size: 16px;
  padding: 5px 55px 5px 55px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #000000;
  background-color: #e5e5e5;
  border-radius: 0;
  border: none;
  font-family: "Playfair Display", sans-serif;
  font-size: 16px;
  padding: 5px 55px 5px 55px;
}

#boxPreWed {
  border: solid 2px #000000;
  width: 60%;
  margin: 30px 0 30px 0;
  text-align: center;
}

.boxPreWedCon {
  display: flex;
  justify-content: center;
}

#boxPreWed h2 {
  color: #000000;
  font-family: "Playfair Display", sans-serif;
  font-size: 17px;
  font-weight: 500;
}

#boxPreWed h3 {
  color: #000000;
  font-family: "Myriad Pro", sans-serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 500;
}

#rightContPreWed {
  background-color: #f0e7df;
  padding: 30px 50px;
}

#rightContPreWed h2 {
  color: #000000;
  font-family: "Playfair Display", sans-serif;
  font-size: 25px;
  font-weight: 500;
  padding: 20px 0 20px 10px;
  text-align: left;
}

#rightContPreWed p {
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  padding: 0 0 0 10px;
  text-align: left;
  margin-top: -30px;
}

#rightContPreWed ul {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  background-color: #f0e7df;
  line-height: 3em;
  text-align: left;
}

#rightContPreWed ul li {
  margin: 0 auto;
  text-align: left;
}

#rightContPreWed button {
  font-family: "Open Sans", sans-serif;
  border: 1px solid #000000;
  font-weight: bold;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  background-color: transparent;
  padding: 15px 25px;
  margin-left: 15px;
}

#rightContPreWed button:hover {
  font-family: "Open Sans", sans-serif;
  border: 1px solid #000000;
  background-color: #000000;
  font-weight: bold;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  padding: 15px 25px;
}

#boxWed {
  border: solid 2px #000000;
  width: 60%;
  margin: 30px 0 30px 0;
  text-align: center;
}

.boxWedCon {
  display: flex;
  justify-content: center;
}

#boxWed h2 {
  font-family: "Playfair Display", sans-serif;
  color: #000000;

  font-size: 17px;
  font-weight: 500;
}

#boxWed h3 {
  font-family: "Myriad Pro", sans-serif;
  color: #000000;
  font-style: italic;
  font-size: 13px;
  font-weight: 500;
}

.nav-tabs {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* -- PROJECTS SECTION -- */

#projects {
  margin: 50px 0 0 0;
}

#projects h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  padding: 10px 0 5px 0;
}

#projects p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding: 0 0 40px 0;
  font-weight: 300;
  color: #000000;
  text-align: center;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 3%;
  right: 0;
  top: 0;
  text-align: center;
  background-color: #000000;
  overflow: hidden;
  opacity: 0.5;
  width: 94%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.boxCon {
  position: relative;
}

.boxCon:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.conCaptions {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#caps h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 22px;
  text-align: center;
}

#caps p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  text-align: center;
}

/* -- INQUIRE SECTION -- */

#enquireBtn {
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  border-radius: 0;
  border-color: 2px solid #ffffff;
  padding: 10px 25px;
  font-size: 12px;
  color: #ffffff;

  font-weight: 400;
  margin-top: 10px;
}

#enquireBtn:hover {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  border-radius: 0;
  border-color: 2px solid #ffffff;
  padding: 10px 25px;
  font-size: 12px;
  color: #000000;

  font-weight: 400;
  margin-top: 10px;
}

#enquireBtn:focus {
  outline: none;
  box-shadow: none;
}

#enquireBtn:visited {
  outline: none;
  box-shadow: none;
}

#enquire {
  background: url("./img/enquire-bg.png") no-repeat center rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-blend-mode: multiply;
}

#enqCon {
  width: 70%;
}

#enquire ul li {
  list-style-type: none;
  display: flex;
}

#enqIcons i {
  font-size: 1.5rem;
  color: white;
}

#enquire ul li i {
  border: 2px solid white;
  padding: 15px 20px;
  margin: 15px 5px;
}

#enquire ul li span {
  padding-left: 30px;
  display: flex;
  align-items: center;
}

#subBtn:focus {
  outline: none;
  box-shadow: none;
}

#subBtn:visited {
  outline: none;
  box-shadow: none;
}

.formBoot {
  background-color: #ffffff;
  padding: 50px 40px;
}

.formBoot h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #000000;

  text-align: center;
  padding: 10px 0 20px 0;
}

.form-group {
  padding: 10px 0;
}

.form-group input {
  border-radius: 0;
}

.form-group textarea {
  border-radius: 0;
}

.form-group input::-webkit-input-placeholder {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.form-group input:-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.form-group textarea::-webkit-input-placeholder {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.form-group textarea:-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-size: 14px;
}

.formBoot button {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  border-radius: 0;
  margin-top: 10px;
  padding: 10px 50px;
  border: 2px solid #000000;
  background-color: #000000;
  width: 50%;
  display: flex;
  justify-content: center;
  float: right;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}

/* -- FOOTER SECTION -- */

#footerSec {
  background-color: #000000;
  color: #ffffff;
  margin: 0 auto;
  padding: 20px 0;
}

#footerSec h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}

/* --- MEDIA QUERIES --- */
/* @media only screen and (max-width: 600px) and (min-width: 400px) */

/* --- PC & LAPTOP SECTION---- */

@media only screen and (max-width: 992px) {
  /*--- IMAGE SLIDER SECTION PC---*/

  #bookBtn {
    border-radius: 0;
    padding: 10px 25px;
    font-size: 10px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }

  #navMenu li {
    text-align: center;
  }

  .navbar-toggler-icon {
    width: 20px;
    height: 20px;
  }

  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  .iconMage {
    width: 50px;
    height: 50px;
  }
  nav {
    padding-top: -22px;
    z-index: 99;
  }

  .carousel-caption {
    position: absolute;
    top: 35%;
  }

  .carousel-caption h2 {
    font-family: "Playfair Display", sans-serif;
    z-index: 1;
    font-size: 35px;
    color: #ffffff;
  }

  .carousel-caption p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #ffffff;
    z-index: 1;
  }

  #enquireBtn {
    font-family: "Open Sans", sans-serif;
    z-index: 1;
    background-color: transparent;
    border-radius: 0;
    border-color: 2px solid #ffffff;
    padding: 10px 25px;
    font-size: 12px;
    color: #ffffff;

    font-weight: 400;
    margin-top: 10px;
  }

  #trustCompany h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 40px;
    color: #000000;
  }

  /* --- HERE FROM US SECTION PC --- */

  #hereFromUs h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #000000;

    text-align: center;
    padding: 30px 0 60px 0;
  }

  #hereFromUsTxtCon div {
    font-family: "Playfair Display", sans-serif;
    background-color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    color: #f6e8dc;

    text-align: right;
  }

  #hereFromUsTxtCon p {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #000000;
    text-align: left;
    white-space: normal;
  }

  #hereFromUsTxtCon h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    text-align: left;
  }

  /*---  INQUIRE FORM SECTION  PC ---*/

  .formBoot h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    padding: 10px 0 20px 0;
  }

  #enquire ul li {
    font-size: 12px;
  }

  #enqIcons i {
    font-size: 1rem;
    color: white;
  }

  .formBoot button {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 10px;
    border-radius: 0;
    margin-top: 10px;
    width: 50%;
    padding: 10px 50px;
    border: 2px solid #000000;
    background-color: #000000;
    display: flex;
    justify-content: center;
  }

  /* -- FOOTER SECTION  PC-- */

  #footerSec {
    background-color: #000000;
    color: #ffffff;
    margin: 0 auto;
    padding: 20px 0;
  }

  #footerSec h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    text-align: center;
    margin-top: 7px;
  }
}

/* --- PC & LAPTOP SECTION END ---- */

/* --- TABLET ---- */

@media only screen and (max-width: 768px) {
  /*--- IMAGE SLIDER SECTION  TB ---*/

  #bookBtn {
    border-radius: 0;
    padding: 10px 25px;
    font-size: 10px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }

  #navMenu li {
    text-align: center;
  }

  .navbar-toggler-icon {
    width: 20px;
    height: 20px;
  }

  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  .iconMage {
    width: 40px;
    height: 40px;
  }
  nav {
    padding-top: -22px;
    z-index: 99;
  }

  .carousel-caption {
    position: absolute;
    top: 35%;
  }

  .carousel-caption h2 {
    font-size: 12px;
    color: #ffffff;
    font-family: "Playfair Display", sans-serif;
  }

  .carousel-caption p {
    font-size: 10px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
  }

  #enquireBtn {
    background-color: transparent;
    border-radius: 0;
    border-color: 2px solid #ffffff;
    padding: 10px 25px;
    font-size: 10px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-top: 10px;
  }

  .carousel-control-next span {
    position: absolute;
    bottom: 5%;
    right: 38%;
    font-size: 12px;
  }

  .carousel-control-prev span {
    position: absolute;
    bottom: 5%;
    left: 38%;
    font-size: 12px;
  }

  div#customIndicators1 {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 10%;
    left: 45%;
    font-size: 12px;
  }

  /*---  TRUST COMPANY SECTION TB  ---*/

  #trustCompany h2 {
    padding: 0;
    margin-top: 0 auto;
    font-size: 35px;
    color: #000000;
    font-family: "Playfair Display", sans-serif;
  }

  /*---  HERE FROM US SECTION TB  ---*/

  #hereFromUs h2 {
    font-size: 35px;
    font-weight: 500;
    color: #000000;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    padding: 30px 0 60px 0;
  }

  #hereFromUsTxtCon h2 {
    font-size: 10px;
    font-weight: 600;
    color: #000000;
    font-family: "Playfair Display", sans-serif;
    white-space: normal;
  }

  /*---  WHY US SECTION TB  ---*/

  #whySec h2 {
    font-size: 35px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Playfair Display", sans-serif;
  }

  #circleTxtCon h2 {
    font-size: 17px;
    font-weight: 600;
    padding: 25px 0 0 0;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
  }

  #circleTxtCon p {
    font-size: 13px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    line-height: 2em;
  }

  /*---  OUR PACKAGES SECTION TB  ---*/

  #packages h2 {
    font-size: 35px;
    font-weight: 500;
    color: #000000;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    padding: 15px 0 25px 0;
  }

  .boxPreWedCon {
    display: flex;
    justify-content: center;
  }

  #boxPreWed {
    border: solid 2px #000000;
    width: 60%;
    margin: 30px 0 30px 0;
    padding: 0 20px;
    text-align: center;
  }

  #boxPreWed h2 {
    color: #000000;
    font-family: "Playfair Display", sans-serif;
    font-size: 13px;
    font-weight: 500;
  }

  #boxPreWed h3 {
    color: #000000;
    font-family: "Myriad Pro", sans-serif;
    font-style: italic;
    font-size: 11px;
    font-weight: 500;
  }

  #rightContPreWed {
    background-color: #f0e7df;
    padding: 50px 50px;
  }

  #rightContPreWed h2 {
    color: #000000;
    font-family: "Playfair Display", sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding: 20px 0 20px 10px;
    text-align: left;
  }

  #rightContPreWed p {
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 13px;
    font-weight: 600;
    padding: 0 0 0 10px;
    text-align: left;
    margin-top: -30px;
  }

  #rightContPreWed ul {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 13px;
    font-weight: 500;
    background-color: #f0e7df;
    line-height: 3em;
    text-align: left;
  }

  #rightContPreWed ul li {
    margin: 0 auto;
    text-align: left;
  }

  #rightContPreWed button {
    font-family: "Open Sans", sans-serif;
    border: 1px solid #000000;
    font-weight: bold;
    color: #000000;
    font-size: 13px;
    font-weight: 500;
    background-color: transparent;
    padding: 10px 20px;
    margin-left: 15px;
  }

  #rightContPreWed button:hover {
    font-family: "Open Sans", sans-serif;
    border: 1px solid #000000;
    background-color: #000000;
    font-weight: bold;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 20px;
  }

  #boxWed {
    border: solid 2px #000000;
    width: 60%;
    margin: 30px 0 30px 0;
    padding: 0 20px;
    text-align: center;
  }

  .boxWedCon {
    display: flex;
    justify-content: center;
  }

  #boxWed h2 {
    color: #000000;
    font-family: "Playfair Display", sans-serif;
    font-size: 13px;
    font-weight: 500;
  }

  #boxWed h3 {
    color: #000000;
    font-family: "Myriad Pro", sans-serif;
    font-style: italic;
    font-size: 13px;
    font-weight: 500;
  }

  /*---  PROJECTS SECTION MB  ---*/

  #projects h2 {
    font-size: 35px;
    font-weight: 500;
    color: #000000;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    padding: 10px 0 5px 0;
  }

  #projects p {
    font-size: 13px;
    padding: 0 0 40px 0;
    font-weight: 300;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    text-align: center;
  }

  .conCaptions {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #caps h2 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
    color: white;
    font-size: 35px;
    text-align: center;
  }

  #caps p {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    text-align: center;
  }

  /*---  INQUIRE FORM SECTION TB  ---*/

  .formBoot h2 {
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    padding: 10px 0 20px 0;
  }

  #enquireBtn {
    z-index: 1;
    background-color: transparent;
    border-radius: 0;
    border-color: 2px solid #ffffff;
    padding: 5px 15px;
    font-size: 8px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-top: 10px;
  }

  #enquire ul li {
    font-size: 12px;
  }

  #enqIcons i {
    font-size: 1rem;
    color: white;
  }

  .formBoot button {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 10px;
    border-radius: 0;
    margin-top: 10px;
    width: 50%;
    padding: 10px 50px;
    border: 2px solid #000000;
    background-color: #000000;
    display: flex;
    justify-content: center;
  }

  /* -- FOOTER SECTION MB -- */

  #footerSec {
    background-color: #000000;
    color: #ffffff;
    margin: 0 auto;
    padding: 20px 0;
  }

  #footerSec h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    text-align: center;
    margin-top: 7px;
  }
}

/* --- TABLET SECTION END ---- */

/* --- MOBILE ---- */

@media only screen and (max-width: 375px) {
  /*---  IMAGE SLIDER  SECTION MB---*/

  #bookBtn {
    border-radius: 0;
    padding: 10px 25px;
    font-size: 10px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }

  #navMenu li {
    text-align: center;
  }

  .navbar-toggler-icon {
    width: 20px;
    height: 20px;
  }

  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  .iconMage {
    width: 40px;
    height: 40px;
  }
  nav {
    padding-top: -22px;
    z-index: 99;
  }

  .carousel-caption {
    position: absolute;
    top: 35%;
  }

  .carousel-caption h2 {
    font-size: 10px;
    color: #ffffff;
    font-family: "Playfair Display", sans-serif;
  }

  .carousel-caption p {
    font-size: 5px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
  }

  #enquireBtn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: transparent;
    border-radius: 0;
    border-color: 2px solid #ffffff;
    padding: 5px 10px;
    font-size: 5px;
    color: #ffffff;
  }
  #enquireBtn:hover {
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
    border-radius: 0;
    border-color: 2px solid #ffffff;
    padding: 5px 10px;
    font-size: 10px;
    color: #000000;

    font-weight: 400;
  }

  .carousel-control-next span {
    position: absolute;
    bottom: 5%;
    right: 38%;
    font-size: 12px;
  }

  .carousel-control-prev span {
    position: absolute;
    bottom: 5%;
    left: 38%;
    font-size: 12px;
  }

  div#customIndicators1 {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 10%;
    left: 45%;
    font-size: 12px;
  }

  /*---  TRUST COMPANY SECTION  MB ---*/

  #trustCompany h2 {
    padding: 0;
    margin-top: 0 auto;
    font-size: 25px;
    color: #000000;
    font-family: "Playfair Display", sans-serif;
  }

  /*---  HERE FROM US SECTION MB  ---*/
  #hereFromUs h2 {
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    padding: 30px 0 60px 0;
  }

  #hereFromUsTxtCon div {
    background-color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    color: #f6e8dc;
    font-family: "Playfair Display", sans-serif;
    text-align: right;
    padding: 0 20px 50px 0;
  }

  #hereFromUsTxtCon p {
    font-size: 10px;
    font-weight: 500;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    white-space: normal;
  }

  #hereFromUsTxtCon h2 {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    font-family: "Playfair Display", sans-serif;
    overflow: hidden;
    white-space: normal;
  }

  .card {
    background-color: #ffffff;
    display: inline-block;
    width: 50%;
    height: auto;
    margin-bottom: 50px;
    border-radius: 0;
    border: none;
    margin: 0 0 0 0;
  }

  /*---  WHY US SECTION MB  ---*/

  #whySec h2 {
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Playfair Display", sans-serif;
  }

  #circleTxtCon h2 {
    font-size: 17px;
    font-weight: 600;
    padding: 25px 0 0 0;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
  }

  #circleTxtCon p {
    font-size: 13px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    line-height: 2em;
  }

  /*---  OUR PACKAGES SECTION MB  ---*/

  #packages h2 {
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    padding: 15px 0 25px 0;
  }

  #boxPreWed {
    border: solid 2px #000000;
    width: 60%;
    margin: 30px 0 30px 0;
    padding: 0 10px;
    text-align: center;
  }

  #rightContPreWed h2 {
    color: #000000;
    font-family: "Playfair Display", sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding: 20px 0 20px 10px;
    text-align: left;
  }

  #boxPreWed h2 {
    color: #000000;
    font-family: "Playfair Display", sans-serif;
    font-size: 13px;
    font-weight: 500;
  }

  #boxPreWed h3 {
    color: #000000;
    font-family: "Myriad Pro", sans-serif;
    font-style: italic;
    font-size: 11px;
    font-weight: 500;
  }

  #boxWed {
    border: solid 2px #000000;
    width: 60%;
    margin: 30px 0 30px 0;
    padding: 0 10px;
    text-align: center;
  }

  #boxWed h2 {
    color: #000000;
    font-family: "Playfair Display", sans-serif;
    font-size: 13px;
    font-weight: 500;
  }

  #boxWed h3 {
    color: #000000;
    font-family: "Myriad Pro", sans-serif;
    font-style: italic;
    font-size: 11px;
    font-weight: 500;
  }

  /*---  PROJECTS SECTION MB  ---*/

  #projects h2 {
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    padding: 10px 0 5px 0;
  }

  #projects p {
    font-size: 13px;
    padding: 0 0 40px 0;
    font-weight: 300;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    text-align: center;
  }

  .conCaptions {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #caps h2 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
    color: white;
    font-size: 20px;
    text-align: center;
  }

  #caps p {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    text-align: center;
  }

  /*---  INQUIRE FORM SECTION MB  ---*/

  .formBoot h2 {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    padding: 10px 0 20px 0;
  }

  #enquire ul li {
    font-size: 12px;
  }

  #enquire ul li fas fa {
    border: 2px solid white;
    padding: 15px 20px;
    margin: 15px 5px;
    font-size: 5px;
  }

  #enqIcons i {
    font-size: 1rem;
    color: white;
  }

  .formBoot button {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 10px;
    border-radius: 0;
    margin-top: 10px;
    width: 50%;
    padding: 10px 50px;
    border: 2px solid #000000;
    background-color: #000000;
    display: flex;
    justify-content: center;
  }

  /* -- FOOTER SECTION MB -- */

  #footerSec {
    background-color: #000000;
    color: #ffffff;
    margin: 0 auto;
    padding: 20px 0;
  }

  #footerSec h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    text-align: center;
    margin-top: 7px;
  }
}

/* --- MOBILE SECTION END ---- */
